/* aboutus.css */

.custom-aboutus-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 0 auto;
  }
  
  .custom-aboutus-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .custom-aboutus-container p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
  }
  
  /* You can add more styles as needed to customize the page's appearance. */
  